* {
  box-sizing: border-box;
  color: rgba(8, 8, 8, 0.849);
  font-family: 'Montserrat', sans-serif;
}
.App {
  margin: 0;
  padding: 0;
}
.container1 {
  margin: 0 auto;
  max-width: 1400px;
  padding: 15px;
}

.title {
  padding-top: 5px;
  margin-left: 15px;
  font-size: 55px;
  margin-bottom: 5px;
  font-family: 'Poppins', sans-serif;
}

.inputSearch {
  outline: none;
  border: 1.5px solid rgb(190, 190, 190);
  border-radius: 5.5px;
  height: 55px;
  width: 100%;
  padding: 0px 25px;
  margin-bottom: 4px;
  margin-top: -2px;
  padding-left: 45px;
  background-color: #f1f1f1;
  color: rgb(110, 110, 110);
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.about-link span:hover {
  color: rgb(112, 112, 112);
}
.navlink2 span {
  font-size: 22px;
}

@media (min-width: 300px) {
  .grid {
    columns: 1;
    gap: 12px;
  }
  
  .grid img {
    max-width: 100%;
    padding-top: 12px !important;
  }
}

@media (min-width: 600px) {
  .grid {
    columns: 2;
    gap: 12px;
  }
  
  .grid img {
    max-width: 100%;
    padding-top: 12px !important;
  }
}

@media (min-width:900px) {
  .grid{
    columns: 3;
    gap: 20px;
  }

  .grid img {
    padding-top: 20px !important;
  }
}


.grid-item img {
  width: 100%;
  height: 100%;
  padding-top: 15px;
  object-fit: cover;
}


@media(min-width:768px) {
  .grid-item img {
    flex-direction: column;
  }
}

.p {
  font-size: 18px;
  padding-left: 1%;
}
.toggle {
  margin-right: 10px;
  height: 35px;
}
.toggle:hover {
  color: rgb(102, 102, 102);
}

.btn-load-more {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  transition: background-color 0.3s ease;
  background-color: #000000;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.btn-load-more:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

.grid-item {
  position: relative;
}

.download-button {
  position: absolute;
  bottom: 5px;
  left: 5px;
  padding: 5px 5px;
  border: none;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(231, 231, 231);
}
.download-button:hover {
  background-color: #000000cc;
}
@media (max-width: 720px) {
  .download-button {
    font-size: 8px;
  }
}

.carousel .slide img {
  max-height: 450px; 
  width: auto; 
  object-fit: cover;
  filter: grayscale(5%) brightness(50%);
}
@media (max-width: 600px) {
  .carousel .slide img {
    min-height: 410px; 
    width: auto; 
    object-fit: cover;
  }
}


.carousel-slide {
  position: relative;
}

.carousel-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  color: #000000;
}

.carousel-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 44px;
  color: #ffffff;
  margin-bottom: 10px;
}


@media (max-width: 600px) {
  .carousel-title {
    width: 330px;
    text-align: left;
    font-size: 30px;
  }
}
@media (min-width: 600px) {
  .carousel-title {
    width: 700px;
    text-align: left;
    font-size: 35px;
  }
}
@media (max-width: 600px) {
  .carousel-description {
    margin-top: -2px;
    width: 300px;
    /* text-align: left; */
    font-size: 12px;
  }
}
@media (min-width: 600px) {
  .carousel-description {
    width: 700px;
    font-size: 31px;
  }
}
.carousel-description {
  text-align: center;
  margin: 0 auto;
  padding-top: 4px;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
}

.image-resolution {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 5px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  color: rgb(231, 231, 231);
  font-size: 12px;
}
@media (max-width: 720px) {
  .image-resolution {
    font-size: 8px;
  }
}

.sticky-search {
  padding-top: 6px;
  position: sticky;
  top: 0;
  background-color: #fff; 
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search-icon {
  position: absolute;
  padding: 10px;
  left: 10px; 
  top: 47%;
  transform: translateY(-50%);
  width: 25px; 
  height: 25px; 
  background-image: url('./components/Images/search-icon-transparent-images-vector-16.png'); 
  background-size: cover;
}










